name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.11]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install .
        pip install -r requirements-test.txt
        pip install codecov
        python -m spylon_kernel install --user

    - name: Test with pytest
      run: |
        python run_tests.py -vxrs --capture=sys --color=yes
        python setup.py sdist
        pip install --no-binary :all: dist/*.tar.gz

    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Cache Spark
      uses: actions/cache@v2
      with:
        path: ~/.cache/spark
        key: ${{ runner.os }}-spark
        restore-keys: |
          ${{ runner.os }}-spark-

    - name: Codecov
      if: success()
      run: |
        codecov
